html body {
  height: 100%;
}
body {
  margin: 0px;
  background-color: #222;
}
.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fbf7f5;
  color: #555;
}
.pageDark {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #222;
  color: #999;
}
.top {
  display: flex;
  align-self: stretch;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 18px;
}
.topMid {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.bottom {
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  background-color: blue;
}

.intro {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #999;
  font-size: 18px;
  text-align: center;
}

.mid {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #999;
  font-size: 18px;
  text-align: center;
}

.numBox {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.textBox {
  border-radius: 6px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding: 8px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  align-self: stretch;
  /* background-color: red; */
  position: absolute;
}
.main {
  display: flex;
  padding-top: 80px;
  margin-bottom: 100px;
}

/*embedded vid */
.ytBoxMatches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 10px;
}
.ytBoxMatchesInner {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  padding: 0.5px;
}

/* button */
button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.hidden {
  display: none;
}
